<div>
  <h2>User info</h2>
  <p><%= @user.name %></p>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag @book.get_image %>
  <% end %>
  <p>image：<%= image_tag post_image.user.get_profile_image(80,80) %></p>
  <p>name：<%= book.user.name %></p>
</div>
<% end %>

<h2>Books</h2>
<h4>Title:</h4>
<p><%= @book.title %></p>

<h4>Opinion:</h4>
<p><%= @book.body %></p>
