<h2>Book detail</h2>

<p>
  <% if @book.user.profile_image.attached? %>
    <%= image_tag @book.user.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
</p>
<a href="/users">
<p><%= @book.title %></p>
<p>Title：<%=link_to @book.title %></p>
<p>Opinion：<%= @book.body %></p>

<a class="btn btn-sm btn-success edit_book_5104" href="/books/5104/edit">Edit</a>
<a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_5104" rel="nofollow" data-method="delete" href="/books/5104">Destroy</a>

