<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <span>Bookers</span>


          <div class="navbar-collapse collapse show" id="navbarNavDropdown"  >
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <a class="nav-link" href="/books" ><i class="fas fa-home"></i>Home</a>
                </li>
                <li>
                  <a class="nav-link" href="/users" ><i class="fas fa-users"></i>Users</a>
                </li>
                <li>
                  <a class="nav-link" href="/books" ><i class="fas fa-book-open"></i>Books</a>
                </li>
                <li>
                  <a class="nav-link" href="/users/sign_out" ><i class="fas fa-sign-out-alt"></i>Log out</a>
                </li>
              <% else %>
                <li>
                  <%= link_to root_path, class: "nav-link text-light" do %>
                    <i class="fas fa-home"></i> Home
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class: "nav-link text-light" do %>
                    <i class="fas fa-link"></i> About
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                    <i class="fas fa-user-plus"></i> Sign up
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                    <i class="fas fa-sign-in-alt"></i> Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <p id="notice">
     <%= notice %>
    </p>
    <%= yield %>

  <footer>
    <div class="fixed-bottom">CopyRight Infratop.inc</div>
  </footer>
  </body>
</html>

