<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href= / >Bookers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item active">
                  <a class="nav-link" href= /books ><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href= /users ><i class="fas fa-users"></i>Users</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href= /books ><i class="fas fa-book-open"></i>Books</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=  /users/sign_out ><i class="fas fa-sign-out-alt"></i>Log out</a>
                </li>
              <% else %>
                <li class="nav-item active">
                  <a class="nav-link" href= / ><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href= /homes/about ><i class="fas fa-link"></i>About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href= /users/sign_up ><i class="fas fa-user-plus"></i>Sign up</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href= /users/sign_in ><i class="fas fa-sign-in-alt"></i>Log in</a>
                </li>
              <% end %>
            </ul>
          </div>
      </nav>
    </header>
    <p id="notice">
     <%=  notice %>
    </p>
      <%= yield %>
  </body>
  <footer>
    <div class="fixed-bottom">CopyRight Infratop.inc</div>
  </footer>

</html>

